<li id="blogpost-<%= blogpost.id %>">
  <span class="title"><%= blogpost.title %></span>
  <span class="member"><%= link_to blogpost.member.name, blogpost.member %></span>
  <span class="timestamp">
    <%= blogpost.created_at.to_formatted_s(:medium_ordinal) %> | <i class="fa fa-eye"> <%= blogpost.views %></i>
  </span>
  <% if logged_in? and (current_member?(blogpost.member) or admin_or_exec?) %>
    <%= link_to "edit", edit_blogpost_path(blogpost) %> |
    <%= link_to "delete", blogpost, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  <span class="content">
    <%= simple_format(truncate(blogpost.content, length: 1000, separator: ' ')) %>
  </span>
  <span class="continue"><%= link_to "Continue Reading", blogpost %></span>
</li>
