<% provide(:title, "Blogpost") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, @blogpost.title) %>
    </div>
    <%= content_tag(:p, @blogpost.member.name) %>
    <% if logged_in? and (current_member?(@blogpost.member) or admin_or_exec?) %>
    <%= link_to "Edit", edit_blogpost_path(@blogpost), class: "btn btn-default" %>
    <%= link_to "Delete", @blogpost, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default" %>
    <% end %>
</header>

<div class="blogposts">
  <div class="space"></div>

  <span class="timestamp">
    Posted <%= time_ago_in_words(@blogpost.created_at) %> ago
  </span>
  <span class="content">
    <%= @blogpost.content %>

    <%= image_tag @blogpost.picture.url if @blogpost.picture? %>
  </span>

  <div class="space">

  </div>
  <div
    class="fb-like"
    data-share="true"
    data-layout="button_count"
    data-width="450"
    data-show-faces="true">
  </div>
  <div id="fb-root" data-app-id="<%= Rails.application.secrets.fb_app_id %>"></div>

</div>
