<% @title = "Console" %>

<div class="row text-center">
  <br>
  <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-primary " %>
  <br>
  <br>
  <%= link_to "Internal Calendar", internal_calendar_path, class: "btn btn-outline-primary " %>
  <br>
  <br>
  <%= link_to "Wiki", wikifiles_path, class: "btn btn-outline-primary " %>
  <br>
  <% if exec_or_higher? %>
    <br>
    <%= link_to "All Members", members_path, class: "btn btn-outline-primary " %>
    <br>
    <br>
    <%= link_to "All Projects", projects_path, class: "btn btn-outline-primary " %>
    <br>
    <br>
    <%= link_to "All Subscribers", subscribers_path, class: "btn btn-outline-primary " %>
    <br>
  <% end %>
  <br>
  <%= link_to "Logout", destroy_member_session_path, class: "btn btn-outline-mlab", method: :delete %>
  <br>
  <br>
</div>
