<h1>
  <%= yield(:title).eql?("About") ? link_to(picture_of(object), object) : picture_of(object) %>
  <%= object.name %>
</h1>
<h5 class="rev">
  <%= object.email.reverse %>
</h5>
<p>
  <%= object.grade %> | <%= object.major %>
</p>
<p>
  <%= object.position %>
</p>
