<% provide(:title, "Attendance Record") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Member-Event Attendance Records') %>
    </div>

    <% if admin_or_exec? %>
      <%= link_to "Take Attendance for a new Event", newevent_path, class: "btn btn-default" %>
    <% end %>
</header>

<div class="attendance_list">
  <% @events.each do |event| %>
  <hr>
    <% if event.live %>
      <pre>
        <h5>Event Live:: <%= event.name %></h5>
        Currently attending <br>
        <% event.members.each do |member| %>
          <%= member.name %><br>
        <% end %>
      </pre>
    <% else %>
      <h5><%= event.name %></h5>
      <h6><%= event.start.to_formatted_s(:medium_ordinal) %></h6>
      <% if event.start < Time.now %>
      <div class="row">
        <div class="col-md-6 attended">
          <p>Attended</p>
          <ul>
            <% event.members.each do |m| %>
              <li><%= m.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6 missed">
          <p>Not Present</p>
          <ul>
            <% @freshmen.each do |f| %>
              <%= content_tag(:li, f.name) if !event.members.exists?(f) %>
            <% end %>
          </ul>
        </div>
      </div>
      <% else %>
        <p>*** Attendance NOT Taken Yet ***</p>
      <% end %>
    <% end %>

  <% end %>
</div>
