<% provide(:title, "About") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Team', id: 'dynamic_title') %>
    </div>

    <div class="snav">
      <ul class="snav-links">
        <li filter= "legacy" class="track">Advisors</li>
        <li> / </li>
        <li filter= "about_mlab" class="track">About ML@B</li>
        <li> / </li>
        <li filter= "team2" class="track active">Team</li>
        <li> / </li>
        <li filter= "nmo" class="track">New Member Opportunities</li>
        <li> / </li>
        <li><%= link_to "Legal", legal_path %></li>
      </ul>
    </div>
</header>

<div class="col-md-10 col-md-offset-1">
  <div class="space"></div>

  <div id="legacy" class="row" style="display:none;">
    <h4>Notes from ML@B's former Presidents:</h4>
    <h3>Ted Xiao</h3>
    <pre>Something inspiring...</pre>
    <h3>Gautham K</h3>
    <pre>Something inspiring...</pre>
  </div>

  <div id="about_mlab" class="row" style="display:none;">
    <p><%= simple_format(@aboutmlab[0].content) %></p>
    <% if logged_in? %>
    <%= link_to "Somebody EDIT this so this can be the landing view of the 'Us' page, not the team members", edit_special_path(@aboutmlab[0]), class: "btn btn-default" %>
    <% end %>
  </div>

  <div id="team2" class="row" style="display:block;">
    <div class="president item">
      <h4>President</h4>
      <%= render 'shared/member_info', object: @president.first if @president.any? %>
    </div>
    <div class="others">
      <h4>Admins / Execs / Members</h4>
      <ul>
        <% @members.each do |member| %>
          <li class="item">
            <%= render 'shared/member_info', object: member %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="nmo" class="row" style="display:none;">
    <h4>What you will do as a new ML@Ber</h4>
    <% @nmos.each do |special| %>
      <%= render 'shared/special', object: special %>
    <% end %>
  </div>
</div>

<%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>

<script type="text/javascript">
  $(window).on("turbolinks:load", function() {
      $('.snav-links .track').click(function() {
          var hide = $('.snav-links .active').attr('filter');
          $('.snav-links .active').removeClass('active');
          $(this).addClass('active');
          var show = $(this).attr('filter');
          var title = $(this).html();
          document.getElementById(hide).style.display="none";
          document.getElementById(show).style.display="block";
          document.getElementById('dynamic_title').innerHTML=title;
      });
  });
</script>
