<!-- Special Animated Navigation -->
<nav id="t-menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ML@B", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Us", about_path %></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "Connections", connections_path %></li>
        <li><%= link_to "Updates", updates_path %></li>
        <li id="nav-special"><%= link_to "Apply Spring '17", apply_member_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Cover Section -->
<!-- <div id="t-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <h1><strong>Machine Learning</strong> at <span class="color">Berkeley</span></h1>
      <p class="lead">Building and fostering a vibrant machine learning community</p>
      <a href="#t-about" class="fa fa-angle-down page-scroll"></a>
    </div>
  </div>
</div> -->

<div id="t-home" class="video">
    <div class="overlay">
        <div class="container">
            <div class="content-heading text-center">
                <h1><strong>Machine Learning</strong> at <span class="color">Berkeley</span></h1>
                <p class="lead">Building and fostering a vibrant machine learning community</p>

                <div class="img-wrapper">
                    <div>
                        <a class="popup-youtube" href="http://www.youtube.com/watch?v=wd1ZEzLjYA8"><i class="fa fa-play"></i></a>
                    </div>
                    <%= image_tag("home_video.png", class: "img-responsive light-opacity") %>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Announcement Section -->
<div id="t-announcement">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <%= link_to ">> Apply Spring '17 <<", apply_member_path, class: "announcement-title" %>
                <p>Member Applications are open for Spring 2017!</p>
            </div>

        </div>
    </div>
</div>

<!-- About Section -->
<div id="t-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4>About us</h4>
            <h2>Learn. <strong>Connect.</strong> Grow.</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <ul class="about-list">
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Events</strong> - <em>We organize events centered around Machine Learning and Data Science that are open to all.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Resources</strong> - <em>We provide an inclusive community to support professional and academic development.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Teams</strong> - <em>We work with companies on challenging problems. We work on internal research projects.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>The Blog</strong> - <em>Stay informed. Learn from our <a href="https://ml.berkeley.edu/blog">blog</a>.</em>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <p class="intro">Machine Learning at Berkeley (ML@B) is a student-run non-profit organization based at the University of California, Berkeley, and is dedicated to <strong>building and fostering a vibrant machine learning community on the UC Berkeley campus</strong>. <br>We aim to do so by providing resources, both educational and computational, to undergraduate and graduate students interested in exploring machine learning, and providing opportunities for them to get hands-on experience with real world problems in both academic research and industry settings. By growing a strong machine learning community at UC Berkeley, we hope to benefit, educate, and inspire the students at the university as well as <strong>aiding the machine learning community at large</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Section -->
<div id="t-works">
    <div class="container"> <!-- Container -->
        <div class="section-title text-center center">
            <h2>Introducing our <strong>current projects</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <p>
            <strong>Industry:</strong>
            <em>Machine Learning at Berkeley's consulting branch allows members to work together with non-profits and companies to tackle challenging real world problems with the use of machine learning and data science. Each consulting project consists of around 8-10 members and lasts one semester. Through the ML@B consulting projects, members gain the experience to solve machine learning and data science problems in industry.</em>
            </p>
            <br>
            <p>
            <strong>Research:</strong>
            <em>Machine Learning at Berkeley's research division seeks to provide a platform for students and faculty to collaborate outside of the context of the many AI/ML research laboratories at Berkeley. We believe that landmark research in machine learning almost always comes from left field, and we cherish and encourage novelty in our division. <br>Our projects and papers are proposed by students and then backed over the course of each academic year into fully fledged research teams. The proposal process leads to a diverse group of projects each year exploring areas from deep reinforcement learning to statistical machine learning, harnessing the creativity and unique backgrounds of our members.</em>
            </p>
        </div>

        <div class="categories">

            <ul class="cat">
                <li class="pull-left"><h4>Filter by Type:</h4></li>
                <li class="pull-right">
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".industry">Industry</a></li>
                        <li><a href="#" data-filter=".research">Research</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div id="lightbox" class="row">

            <div class="col-sm-6 col-md-3 col-lg-3 research">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Deep Active Learning</h4>
                                <small>Research</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/deep_active.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 research">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>G.A. for Modelling Data</h4>
                                <small>Research</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/genetic_alg.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 industry">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Grand Rounds</h4>
                                <small>Industry</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/grand_round.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 industry">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>H2O.ai</h4>
                                <small>Industry</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/h2o.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 research">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Improving Music Rec</h4>
                                <small>Research</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/imp_music.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 research">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Open Brain</h4>
                                <small>Research</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/open_brain.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 research">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Parameter Reduction using G.N.N.</h4>
                                <small>Research</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/parameter_reduction.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 industry">
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="">
                            <div class="hover-text">
                                <h4>Quantiacs</h4>
                                <small>Industry</small>
                                <div class="clearfix"></div>
                                <i class="fa fa-plus"></i>
                            </div>
                            <%= image_tag("portfolio/quantiacs.png", class: "img-responsive") %>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Team Page -->
<div id="t-team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>our</strong> admin <strong>team</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>

            <div id="team" class="owl-carousel owl-theme row">
                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/wg.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>William Guss</h3>
                            <p>VP of Research</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/gk.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Gautham Kesineni</h3>
                            <p>President</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/tx.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Ted Xiao</h3>
                            <p>Advisor</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/pk.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Philip Kuznetsov</h3>
                            <p>VP of Education</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/rd.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Richard Doan</h3>
                            <p>Head of Outreach</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/bc.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Brenton Chu</h3>
                            <p>VP of Admin</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/rs.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Renee Sweeney</h3>
                            <p>Events Coordinator</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/rp.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Raul Puric</h3>
                            <p>PM@R, Head of Dev</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/jp.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Jin Park</h3>
                            <p>PM@I, Bootcamp Coordinator</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                      <%= image_tag("team/pp.jpg", class: "img-circle team-img") %>
                        <div class="caption">
                            <h3>Piyush Patil</h3>
                            <p>VP of Industry</p>
                        </div>
                    </div>
                </div>

            </div>

            <p><br>
              Our team consists of both undergraduate and graduate students from a <strong>variety of backgrounds</strong>: EECS, Statistics, Mathematics, Computer Science, and more.
              <strong>Data Science</strong> is inherently a multi-disciplinary field, so our diverse team helps us approach a broad scope of challenges.
            </p>
            <p class="ocf-disclaimer">
              We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
            </p>


        </div>
    </div>
</div>

<!-- Contact Section -->
<div id="t-contact" class="text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="section-title center">
                    <h2>Feel free to <strong>contact us</strong></h2>
                    <div class="space"></div>
                    <div class="clearfix"></div>
                </div>
                <p>
                  email: <a href="mailto:ml.at.berkeley@gmail.com">ml.at.berkeley [at] gmail.com</a>
                </p>

                <div class="section-subtitle center">
                  <h3>or</h3>
                </div>

                <div class="section-title center">
                    <h2><strong>subscribe</strong> to our mailing list</h2>
                    <div class="space">

                    </div>
                <button onclick="location.href='http://goo.gl/forms/C2Ga9ABQAL'" class="btn t-btn btn-default" target="_blank">Get Event Updates</button>
                <div class="line">
                    <hr>
                </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Footer Section -->
<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <ul class="footer-links">
        <li>ML@B &copy 2016</li>
        <li>&middot</li>
        <li><a href="/">Website</a></li>
        <li>&middot</li>
        <li><a href="https://ml.berkeley.edu/blog">Blog</a></li>
        <li>&middot</li>
        <li><%= link_to "Legal", legal_path %></li>
        <li>&middot</li>
        <li><a href="mailto:ml.at.berkeley@gmail.com">Talk to Us <i class="fa fa-envelope"></i></a></li>
        <li>&middot</li>
        <li>
          <ul class="footer-social">
            <li><a href="https://www.facebook.com/berkeleyml"><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.github.com/mlberkeley"><i class="fa fa-github"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="pull-right fnav ocf">
      <a href="https://www.ocf.berkeley.edu">
        <img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF" style="border: 0;" />
      </a>
    </div>
  </div>
</nav>
