<% provide(:title, "Updates") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Events', id: 'dynamic_title') %>
    </div>

    <div class="snav">
      <ul class="snav-links">
        <li><a href="https://ml.berkeley.edu/blog" target="_blank">Blog</a></li>
        <li> / </li>
        <li filter="updt" class="track">Member Updates</li>
        <li> / </li>
        <li filter="events" class="track active">Events</li>
        <li> / </li>
        <li filter="videos" class="track">Videos</li>
        <li> / </li>
        <li><%= link_to "Get Updates", subscribe_path %></li>
      </ul>
    </div>
</header>

<div id="updt" class="row" style="display:none;">
  <div class="col-md-10 col-md-offset-1">
    <ol class="blogposts">
      <%= render @blogposts, object: yield(:title) %>
    </ol>
  </div>
</div>

<div id="events" class="row" style="display:block;">
  <div class="space"></div>
  <div class="col-md-10 col-md-offset-1">
    <div class="upcoming">
      <h4>Upcoming Events</h4>
      <hr>
      <% if @events.any? %>
        <% @events.reverse_each do |event| %>
          <h5><%= event["name"] %></h5>
          <h6>When: <%= event["start_time"][0..9] %></h6>
          <% if p = event["place"] %>
            <h6>Where: <%= p["name"] + ", " + p["location"]["street"] %></h6>
          <% end %>
          <p><%= simple_format(event["description"]) %></p><br>
        <% end %>
      <% else %>
        <p>None scheduled, see you next semester!</p>
      <% end %>
    </div>

    <div class="feature_fb_feed">
      <h4>Featured posts from our Facebook Feed</h4>
      <hr>
      <% @feed.each do |feed_item| %>
        <% if feed_item.key?("story") and !feed_item["story"].include?("event") %>
          <h6><%= feed_item["created_time"][0..9] %></h6>
          <h5><%= feed_item["story"] %></h5>
          <p><%= simple_format(feed_item["message"]) %></p><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="videos" class="row" style="display:none;">
  <div class="space"></div>
  <div class="col-md-10 col-md-offset-1 text-center">
    <h4>Featured</h4><br>
    <div class="img-wrapper">
        <div>
            <a class="popup-youtube" href="http://www.youtube.com/watch?v=wd1ZEzLjYA8"><i class="fa fa-play"></i></a>
        </div>
        <%= image_tag("home_video.png", class: "img-responsive light-opacity") %>
    </div>
    <div id="m-announcement">
      <%= link_to ">> Apply Spring '17 <<", apply_member_path, class: "announcement-title" %>
      <p>Member Applications are open for Spring 2017!</p>
    </div>
    <div class="space"></div>
  </div>
</div>

<%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>

<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">
  $(window).on("turbolinks:load", function() {
      $('.snav-links .track').click(function() {
          var hide = $('.snav-links .active').attr('filter');
          $('.snav-links .active').removeClass('active');
          $(this).addClass('active');
          var show = $(this).attr('filter');
          var title = $(this).html();
          document.getElementById(hide).style.display="none";
          document.getElementById(show).style.display="block";
          document.getElementById('dynamic_title').innerHTML=title;
      });
  });
</script>
