<% provide(:title, 'Special Static Content') %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'New Content') %>
    </div>
</header>

<div class="row">
  <div class="space"></div>
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@special) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <% if current_member.admin? %>
      <%= f.label :tag %>
      <%= f.text_field :tag, class: 'form-control' %>
      <% end %>

      <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 20 %>
      </div>

      <%= f.submit "Make Content", class: "btn btn-mlab" %>
    <% end %>
  </div>
</div>
