<% @title = "Events" %>

<div class="upcoming">
  <h3>Upcoming Workshops</h3>
  <h5><%= link_to "See our Calendar for Recurrent Events", public_calendar_path %></h5>
  <hr>
  <div class="text-center animate-fade-in-500">
    <% if @events.any? %>
      <% @events.reverse_each do |event| %>
        <h5><%= event["name"] %></h5>
        <h6>When: <%= event["start_time"][0..9] %></h6>
        <% if p = event["place"] %>
          <h6>Where: <%= p["name"] + (p["location"]["street"].nil? ? "" : (", " + p["location"]["street"])) %></h6>
        <% end %>
        <h6>Live Counter: <strong><%= event["attending_count"] %></strong> going | <strong><%= event["interested_count"] %></strong> interested</h6>
        <%= image_tag(event["cover"]["source"]) if event["cover"]["source"] %>
        <p><%= simple_format(event["description"]) %></p>
        <%= link_to "See on Facebook >", "https://www.facebook.com/events/#{event["id"]}", target: "_blank" %><br>
      <% end %>
    <% else %>
      <p>None scheduled, check back later!</p>
    <% end %>
  </div>
</div>

<div class="recent">
  <% if @recent %>
  <h3>Recent Events</h3>
  <hr>
  <div class="text-center animate-fade-in-1000">
    <h5><%= @recent["name"] %></h5>
    <h6>When: <%= @recent["start_time"][0..9] %></h6>
    <% if p = @recent["place"] %>
      <h6>Where: <%= p["name"] + ", " + p["location"]["street"] %></h6>
    <% end %>
    <h6><strong><%= @recent["attending_count"] %></strong> people came</h6>
    <%= image_tag(@recent["cover"]["source"], class: "") if @recent["cover"]["source"] %>
    <p><%= simple_format(@recent["description"]) %></p>
    <%= link_to "See on Facebook >", "https://www.facebook.com/events/#{@recent["id"]}", target: "_blank" %><br>
  </div>
  <% end %>
</div>

<div class="feature_fb_feed">
  <h3>Featured posts from our Facebook Feed</h3>
  <hr>
  <div class="text-center">
    <% @feed.each do |feed_item| %>
      <% if feed_item.key?("story") and !feed_item["story"].include?("event") %>
        <h6><%= feed_item["created_time"][0..9] %></h6>
        <h5><%= feed_item["story"] %></h5>
        <%= image_tag(feed_item["full_picture"], class: "") if feed_item["full_picture"] %>
        <p><%= simple_format(feed_item["message"]) %></p>
        <%= link_to "See on Facebook >", feed_item["link"], target: "_blank" %><br><br>
      <% end %>
    <% end %>
  </div>
</div>
