<% provide(:title, "Subscribe") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Follow our blog / events / newsletter') %>
    </div>
</header>

<div class="row">
  <div class="space"></div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subscriber, url: subscribe_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Subscribe", class: "btn btn-mlab" %>
    <% end %>
  </div>
</div>
