<% @title = "About ML@B" %>
<p></p>
<p style="width: 80%; margin-left: 10%">Machine Learning at Berkeley (ML@B) is student-run organization based at the University of California, Berkeley, and is dedicated to building and fostering a vibrant machine learning community on the University of California, Berkeley campus as well as contributing to the greater machine learning community beyond the campus.</p>

<p></p>
<div class="landing">
  <section class="features" style="padding: 35px 0px 0px 0px">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <section>
            <i class='fa fa-graduation-cap'></i>
            <h4>Education</h4>
            <p>We host multiple DeCals, workshops, and our own new member training program.</p>
            <%= link_to "Education >", education_path %>
          </section>
        </div>
        <div class="col-xs-12 col-md-4">
          <section>
            <i class='fa fa-briefcase'></i>
            <h4>Industry</h4>
            <p>We work with companies on challenging problems and create meaningful, data-driven solutions.</p>
            <%= link_to "Projects >", portfolio_path %>
          </section>
        </div>
        <div class="col-xs-12 col-md-4">
          <section>
            <i class='fa fa-area-chart'></i>
            <h4>Research</h4>
            <p>We work on cutting-edge internal research projects.</p>
            <%= link_to "Projects >", portfolio_path %>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="m-clients" class="text-center">
  <div class="overlay">
    <div class="container">
      <h2><strong>Companies</strong> we work with</h2>

      <div class="owl-carousel">
        <% (1..17).each_slice(2) do |i, j| %>
          <div class="thumbnail">
            <%= image_tag("companies/#{i}.png", class: "animate-fade-in-#{100*i}") %>
            <%= image_tag("companies/#{j}.png", class: "animate-fade-in-#{100*j}") if j %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
