<%= email_message_section do %>
  <%= email_message_spacer 2 %>
  <%= email_message_body_text do %>
    Hello <%= @resource.email %>! Someone has requested a link to change your password. You can do this through the link below.
  <% end %>

  <table border="0" cellpadding="0" cellspacing="0" width="50%" style="background-color:#5084BB;"><tr><br></br><td style="padding: 18px 20px 18px 20px; font-family:  Avenir, &#39;Helvetica Neue&#39;, Helvetica, sans-serif, sans-serif; color: #ffffff; font-size: 18px; text-align: center;">
    <span style="text-decoration: none; color: #ffffff;">
      <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),  style: 'color: #fff;' %>
    </span>
  </td></tr></table>

  <%= email_message_spacer 2 %>

  <%= email_message_small_text do %>
    If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
  <% end %>

  <%= email_message_spacer 2 %>
<% end %>
