<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>About</h4>
            <%= link_to "About ML@B", about_path %> <br>
            <%= link_to "Non-Profit Statement", statement_path %> <br>
            <%= link_to "Projects", portfolio_path %>
          </section>
        </div>
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Social</h4>
            <a href="//ml.berkeley.edu/blog" target="_blank" rel="noopener">Blog</a> <br>
            <a href="mailto:contact@ml.berkeley.edu?Subject=Hello%20" target="_top">Contact Us</a> <br>
            <a href="https://www.facebook.com/berkeleyml" target="_blank" rel="noopener"><i class="fa fa-facebook"></i>&nbsp;</a>
            <a href="https://twitter.com/BerkeleyMl" target="_blank" rel="noopener"><i class="fa fa-twitter"></i>&nbsp;</a>
            <a href="https://www.github.com/mlberkeley" target="_blank" rel="noopener"><i class="fa fa-github"></i>&nbsp;</a>
            <a href="https://bit.ly/mlabYouTube" target="_blank" rel="noopener"><i class="fa fa-youtube"></i>&nbsp;</a>
            <a href="https://bit.ly/mlabLinkedIn" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
          </section>
        </div>
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Quick Links</h4>
            <% if member_signed_in? %>
              <%= link_to "Logout", destroy_member_session_path, method: :delete %>
            <% else %>
              <%= link_to "Login", new_member_session_path %> <br>
              <!-- <%= link_to "Sign up", new_member_registration_path %> -->
            <% end %>
            <br>
          </section>
        </div>
      </div>
    </div>
  </footer>
