<div class="navbar" style="margin-bottom: 0;">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "ML@B", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">

        <%= content_tag(:li, link_to("Home", home_path), class: "#{controller_name == 'home' ? 'active' : ''}") %>
        <%= content_tag(:li, link_to("Us", about_path), class: "#{controller_name == 'about' ? 'active' : ''}") %>
        <%= content_tag(:li, link_to("Projects", portfolio_path), class: "#{controller_name == 'portfolio' ? 'active' : ''}") %>
        <%= content_tag(:li, link_to("Calendar", public_calendar_path), class: "#{controller_name == 'calendars' ? 'active' : ''}") %>
        <%= content_tag(:li, link_to("Education", decals_path), class: "#{controller_name == 'education' ? 'active' : ''}") %>
        <li>
          <a href="//ml.berkeley.edu/blog" target="_blank" rel="noopener">Blog</a>
        </li>
        <li>
          <a href="//ml.berkeley.edu/mlcareerfair/" target="_blank" rel="noopener">Career Fair</a>
        </li>
        <%= content_tag(:li, link_to("Apply", apply_path), class: "#{controller_name == 'apply' ? 'active' : ''}") %>
    </ul>
  </div>
</div>
<% if member_signed_in? %>
<div class="text-right color">
  <p>
    <%= fa_icon_tag "user" %> Hi, <strong><%= (current_member.fname) ? current_member.fname : current_member.email %></strong>
    <span class="divider">| </span>
    <%= link_to "Profile", current_member %>
    <% if exec_or_higher? %>
      <span class="divider">| </span>
      <%= link_to "Admin", console_path %>
    <% else %>
      <span class="divider">| </span>
      <%= link_to "My ML@B", console_path %>
    <% end %>
  </p>
</div>
<% end %>
