<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/favicons' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' unless yield(:title).empty? %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      $(window).load(function() {
        $(".loader").fadeOut();
      })
      $(document).ready(function() {
        $(".loader").fadeOut();
      })
    </script>
  </body>
</html>
