<% content_for :navbar do %>
<div class="snav">
  <ul class="snav-links">
    <li><%= link_to "All", "#", data_filter: "*", class: "active" %></li>
    <!-- <li> / </li> -->
    <li><%= link_to "Current", "#", data_filter: ".true" %></li>
    <!-- <li> / </li> -->
    <li><%= link_to "Past", "#", data_filter: ".false" %></li>
  </ul>
</div>
<% end %>

<%= render "layouts/not_home" do %>
  <%= yield %>
<% end %>
