<% provide(:title, "Edit member") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Update Profile Settings') %>
    </div>
</header>

<div class="row">
  <div class="space"></div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@member, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <% if current_member?(@member) %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'leave blank to keep current password' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>

      <%= f.label :grade, "Class" %>
      <%= f.text_field :grade, class: 'form-control', placeholder: 'Freshman, Sophomore, etc.' %>

      <%= f.label :major, "Major(s)" %>
      <%= f.text_field :major, class: 'form-control', placeholder: 'pls dont be extra and spell out EECS' %>

      <% if admin_or_exec? %>
      <%= f.label :exec, class: "checkbox inline" do %>
        <%= f.check_box :exec %>
        <span>Exec?</span>
      <% end %>
      <%= f.label :officer, class: "checkbox inline" do %>
        <%= f.check_box :officer %>
        <span>Officer?</span>
      <% end %>
      <% end %>



      <%= f.submit "Save changes", class: "btn btn-mlab" %>

      <div class="img_edit">
        <%= picture_of @member %>
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>  ^ change picture
        </span>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#member_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
