<% provide(:title, "Sign Up") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Create Account') %>
    </div>
</header>

<div class="row">
  <div class="space"></div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@member, url: create_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <label>You must first set-up your @ml email address through the club.</label>
      <label>You WON'T get a confirmation email if email not properly set up!</label>
      <%= f.email_field :email, class: 'form-control', placeholder: 'your_mlab_email@ml.berkeley.edu' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-mlab" %>
    <% end %>
  </div>
</div>
