<% provide(:title, @member.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <%= render 'shared/member_info', object: @member %>
    </section>
    <% if logged_in? %>
    <section class="buttons">
      <% if admin_or_exec? and !current_member?(@member) %>
      <%= link_to "Edit Member", edit_member_path(@member), class: "btn btn-default" %>
      <% end %>
      <% if current_member?(@member) %>
      <%= link_to "Write a Post", new_blogpost_path, class: "btn btn-default" %>
      <% end %>
    </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <h3>Introduction</h3>
    <p><%= @member.introduction %></p>
    <% if @member.blogposts.any? %>
      <h3>Blogposts (<%= @member.blogposts.count %>)</h3>
      <ol class="blogposts">
        <%= render @blogposts, object: yield(:title) %>
      </ol>
      <%= will_paginate @blogposts, :class => "mlab_pagination" %>
    <% end %>
  </div>
</div>
