<% @title = "#{@member.fname}'s ML@B" %>

<% if member_signed_in? %>
  <% content_for :navbar do %>
    <div class="snav">
      <ul class="snav-links">
        <li><%= link_to "Profile", @member %></li>
        <% if exec_or_higher? or current_member == @member %>
          <li> / </li>
          <li><%= link_to "Account", edit_member_path %></li>
        <% end %>
        <% if current_member == @member %>
          <li> / </li>
          <li><%= link_to "Logout", destroy_member_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


<div class="container">
  <div class="user-profile">
    <header style="background: url("<%= @member.background? ? @member.background.url : image_path("dresssed/header_1.jpg") %>")">
      <div class="avatar">
        <%= image_tag(@member.picture? ? @member.picture.url : "team/unpictured.jpg", class: "img-rounded", style: "width: 200px; height: 200px;") %>
        <h1><%= @member.full_name %></h1>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group mt15">
        <li class="list-group-item">Followers <span class="badge"><%=  %></span></li>
        <li class="list-group-item">Following <span class="badge"><%=  %></span></li>
      </ul>
      <div class="panel panel-default mt15" id="panels">
        <div class="panel-heading">
          Member Bio
        </div>
        <div class="panel-heading" style="text-align:right;">
          <%= (@member.major + " | " + @member.grade) %>
        </div>
        <div class="panel-heading rev">
          <%= @member.email.reverse %>
        </div>
        <div class="panel-body">

          <% if @member.introduction? %>
            <%= markdown(@member.introduction) %>
          <% else %>
            <p>I love ML@B</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="left-timeline col-sm-8">
      <% if current_member == @member %>
        <%= render 'posts/post_form' %>
      <% end %>

      <% if @member.posts.any? %>
      <ul>
        <%= render @posts.recent %>
        <% if @posts.old.any? %>
          <li class="period-marker">
            <p>Last Month</p>
          </li>
          <%= render @posts.old %>
        <% end %>
        <% if @posts.ancient.any? %>
          <li class="period-marker">
            <p>Last Year</p>
          </li>
          <%= render @posts.ancient %>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
